/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif
}

body.light {
    --bg-color: white;
    --text-color: "black";
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  body.dark {
    --bg-color: "#111827";
    --text-color: white;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

.container {
    @apply w-[90%] mx-auto
}